In [5]:
import consumer
from shopping_environment import ShoppingEnvironment
import pandas as pd
from mechanisms import run_lottery_no_gaming

## Setup Environment

In [1]:
# parameters
num_shoes        = 100

# number of each consumer type
num_average     = 900
num_abnormal    = 100
num_special     = 25
num_wealthy     = 100
num_influencers = 50
num_resellers   = 25

# initialize environment
env = ShoppingEnvironment(
    mean_desire = 0.5,
    std_desire = 0.2,
    desire_threshold = 0.7,
    average_mean_money = 250,
    average_std_money = 15,
    rich_mean_money = 1000,
    rich_std_money = 250,
    average_prob_loyal = 0.5,
    rich_prob_loyal = 0.8,
    reseller_prob_loyal = 0.9,
    num_shoes = num_shoes,
    price = 250
)

# create consumers
average_consumers    = [consumer.AverageConsumer(env) for _ in range(num_average)]
abnormal_consumers   = [consumer.AbnormalConsumer(env) for _ in range(num_abnormal)]
special_consumers    = [consumer.SpecialConsumer(env) for _ in range(num_special)]
wealthy_consumers    = [consumer.WealthyConsumer(env) for _ in range(num_wealthy)]
influencer_consumers = [consumer.InfluencerConsumer(env) for _ in range(num_influencers)]
reseller_consumers   = [consumer.ResellerConsumer(env) for _ in range(num_resellers)]

consumers = average_consumers + abnormal_consumers + special_consumers + wealthy_consumers + influencer_consumers + reseller_consumers

### Run Lottery

In [ ]:
df = run_lottery_no_gaming(consumers)

In [3]:
df[df['shoes_acquired'] >= 1]

        desire    identity  shoes_acquired
6     0.451613     average               2
24    0.272066     average               1
27    0.667744     average               1
41    0.642740     average               2
56    0.688665     average               1
...        ...         ...             ...
1125  0.502517  influencer               1
1130  0.800037  influencer               2
1166  0.302997  influencer               1
1171  0.634968  influencer               1
1185  0.000000    reseller               2

[76 rows x 3 columns]

In [4]:
sum(df['shoes_acquired'])

100